# Crypto currency

- Retrieve historical data of a crypto currency (Bitcoin)
    - https://min-api.cryptocompare.com/data/histominute?fsym=BTC&tsym=USD&limit=10
- Find a way to update this historical data
- Plot crypto currency in an interactive manner

## API for historical data retrievement

The API used to retrieve historical data is **CryptoCompare** https://min-api.cryptocompare.com/. We chose this API because it provides many benefits for free :
1. Retrieve historical data at minute interval up to 7 days. For older times, interval becomes hourly or daily. 
2. Many crypto currencies available TODO give a list
3. Easy to use, no need to authenticate
4. High rate limits : https://min-api.cryptocompare.com/stats/rate/limit

In [37]:
import urllib.request
import pandas as pd
import json

BASE_URL = "https://min-api.cryptocompare.com/data/histominute"
CRYPTO_SYMBOL = "BTC"
CURRENCY = "USD"
LIMIT = 2000 # max 2000
APP_NAME = "HES_SO_master_crypto_analysis"

contents = urllib.request.urlopen(
    f"{BASE_URL}?fsym={CRYPTO_SYMBOL}&tsym={CURRENCY}&limit={LIMIT}&extraParams={APP_NAME}"
).read()
json_string = contents.decode("utf-8")
obj = json.loads(json_string)

### Data understanding

The data returned contains the following information :

- time : unix timestamp when data was recorded
- open : The price at opening time of the interval
- close : The price at close time of the interval
- low : The lowest price observed during the interval
- high : The higher price reached during the interval
- volumefrom : TODO
- volumeto : TODO

In [40]:
df_histo = pd.DataFrame.from_dict(obj['Data'])
df_histo.head(5)

     close     high      low     open        time  volumefrom   volumeto
0  8748.90  8748.90  8742.40  8743.04  1526365740       27.17  237674.81
1  8742.69  8749.34  8742.69  8748.80  1526365800       28.91  254330.87
2  8740.03  8742.40  8737.17  8742.09  1526365860       31.57  276893.35
3  8752.12  8752.13  8736.42  8740.03  1526365920       34.42  301017.00
4  8754.21  8754.58  8750.87  8752.12  1526365980       35.00  306247.27

In [39]:
import datetime
print(df_histo['time'].iloc[-1])
print(datetime.datetime.fromtimestamp(int(df_histo['time'].iloc[0])).strftime('%Y-%m-%d %H:%M:%S'))
print(datetime.datetime.fromtimestamp(int(df_histo['time'].iloc[-1])).strftime('%Y-%m-%d %H:%M:%S'))

1526485740
2018-05-15 08:29:00
2018-05-16 17:49:00